// || utils
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-footer: #353535;
$colour-section-background: #F6F6F6;
$colour-city-selector: #EAEAEA;

$headers-font-fam: 'Shrikhand', cursive;
$body-font-fam: 'Roboto', Verdana, sans-serif;

$light: 200;
$normal: 400;
$semibold: 500;
$bold: 700;

$breakpoints: (
    mobile: 599px
);

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
    @content;
    }
}


// || base

body {
    box-sizing: border-box;
    font-family: $body-font-fam;
    font-weight: $light;
    max-width: 600px;
    margin: auto;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.logo {
    font-family: $headers-font-fam;
    font-size: 2rem;
}
h1 {
    font-family: $headers-font-fam;
    font-size: 1.8rem;
    margin: 0;
}
h2 {
    font-weight: $semibold;
    font-size: 1.5rem;
    margin-top: 0;
}
h3 {
    font-weight: $semibold;
    font-size: 1.1rem;
    margin: 0;
}
// reset list styles
ul {
    list-style-type: none;
    padding: 0;
    li {
        margin-bottom: .5rem;
    }
    i {
        margin-right: .5rem;
    }
}
// reset link styles
a {
    text-decoration: none;
    color: #000;
}
.header-font {
    font-family: $headers-font-fam;
}


// || layouts & components

.header {
    text-align: center;
    padding: 1rem;
}
.footer {
    padding: 1.5rem;
    background-color: $colour-footer;
    color: #EAEAEA;
    a {
        color: #EAEAEA;
    }
}
.button {
    position: relative;
    z-index: 1;
    background: linear-gradient(170deg, $colour-secondary, $colour-primary);
    color: $colour-section-background;
    cursor: pointer;
    padding: 1rem;
    border-radius: 10rem;
    border: 0;
    box-shadow: 0px 4px 12px 2px rgb(0 0 0 / 20%);
    &:hover{
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;  
        left: 0;
        border-radius: 10rem;
        transition: opacity 250ms;
        background: linear-gradient(170deg, lighten($colour-secondary,3), lighten($colour-primary,3));
        box-shadow: 0px 4px 12px 2px rgb(0 0 0 / 40%);
        opacity: 0;
        z-index: -1;
    }
}
.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disappear 0ms 3000ms both;
}
.spinner {
    width: 50px;
    height: 50px;
    position: relative;
    animation: loading 2s linear 2;
}
.bubble-1,
.bubble-2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #9356DC;
  animation: bounce 2s ease-in-out 2;
}
.bubble-2 {
  top: auto;
  bottom: 0;
  background-color: #99E2D0;
  animation-delay: -1s;
}
@keyframes loading {
    100% {
      transform: rotate(360deg);
    }
}
@keyframes bounce {
    0%, 100% {
        transform: scale(0);
    }
    50% {
    transform: scale(1);
    }
}
@keyframes disappear {
    100% {
        opacity: 0;
        z-index: -3;
    }
}


// || page: home

.city-selector {
    background-color: $colour-city-selector;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: .8rem;
    input {
        border:none;
        width:130px;
        &#ville[type="text"][disabled] {
            color: red;
         }
    }
}
.presentation {
    padding: 3rem 1.5rem;
    background-color: $colour-section-background;
    text-align: center;
    font-size: 1.1rem;
    font-weight: $light;
}
.explanation {
    padding: 3rem 1.5rem;
}
.steps-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.step {
    padding-block: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: $colour-section-background;
    border-radius: 20px;
    box-shadow: 0px 4px 12px 2px rgb(0 0 0 / 15%);
    &__number {
        background-color: $colour-primary;
        color: white;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        padding-top: .3rem;
        text-align: center;
        margin-left: -.8rem;
    }
    i {
        font-size: 1.3rem;
        color: grey;
    }
}
.restaurants {
    padding: 3rem 1.5rem;
    background-color: $colour-section-background;
}
.cards-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 12px 2px rgb(0 0 0 / 5%);
    transition: 0.3s;
    max-width: 100%;
    &__image {
        padding: 0px;
        height: 24vh;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        flex: auto;
    }
    &__body {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        i {
            font-size: 1.5rem;
            color: white;
            text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black; 
            &:hover{
                text-shadow:none;
                background: linear-gradient($colour-primary, $colour-secondary);
                background-clip: text;
                -webkit-background-clip: text;
                color:transparent;
                transition: color 1000ms;
            }
        }
    }
}


// || page: menu

main {
    background: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: contain;
    padding-top: 12rem;
}
.menu-image {
    width: 100%;
}
.menu {
    margin-top: .5rem;
    background-color: $colour-section-background;
    border-radius: 40px 40px 0 0;
    padding: 2rem 0rem;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0rem 1.5rem 2rem 1.5rem;
        i {
            font-size: 1.7rem;
        }
    }
}
.menu-section-title {
    margin-inline: 1.5rem;
    font-size: 1rem;
    font-weight: $light;
    position: relative;
    &::before {
        position: absolute;
        left: 0;
        top: 1.3rem;
        height: 0;
        width: 40px;
        content: "";
        border-top: 3px solid $colour-tertiary;
    }
}


@keyframes items {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-item {
    animation: items 1000ms;
    animation-fill-mode: backwards;
    @for $i from 1 through 10 {
        &:nth-child(#{$i}n) {
            animation-delay: #{$i * 40}ms;
        }
    }
    width: 93%;
    margin:auto;
    background-color: white;
    border-radius: 20px;
    margin-block: 1rem;
    box-shadow: 0px 4px 12px 2px rgb(0 0 0 / 5%);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow:hidden;
    &__text {
        flex-grow: 1;
        width: 50%;
        margin: 1rem 0 1rem 1rem;
    }
    &__heading {
        font-weight: $semibold;
        font-size: 1.1rem;
        margin-bottom:0.5rem;
}
    &__subheading {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: .9rem;
        font-weight: $light;
    }
    &__price {
        font-weight: $semibold;
        margin: 1rem;
        width: 15%;
        // transform: translateX(0);
        // transition: transform 400ms;
    }
    &__check {
        width: 0;
        overflow: hidden;
        
        // TEST
        // transform: translateX(100%);
        // transition: transform 400ms;

        transition: width 400ms;
        
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colour-tertiary;
        border-radius: 0 20px 20px 0; 
        color: $colour-tertiary;
        i {
           background-color: white;
           padding: 0.4rem;
           border-radius: 50%;
           font-size: 1.3rem;
           margin: 1.4rem; 
           transition: transform 400ms;
        }
    }
    &:hover &__check {
        width: 20%;
        // transform: translateX(0);
        i {
            transform: rotate(360deg);
        }
    }
    // TEST
    // &:hover &__price {
    //     transform: translateX(50px);
    // }
}